{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Job Seeker Registration{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-success text-white text-center">
                <h3 class="fw-light my-4">Join as a Job Seeker</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-success btn-lg">Register Account</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'login' %}">Already have an account? Login here</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}